@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* SECTIONS */
@media(max-width:1025.33px){
  .nav-div{
    width: 10px;
  }
}
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

@media (max-width: 371.33px) {
  .logo {
    width: 1px;
  }
}

@media (max-width: 335px) {
  .logo {
    width: 2px;
  }
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  /* height: 40px !important; */
  /* width: 30px !important; */
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

.section__pic-container img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

:root {
  --color-1: #2f3240;
}
body {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.horizontal {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

/*header*/



.header {
  background-color: var(--color-1);
  padding: 12px 0;
  line-height: 1.5;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}
.header .logo a {
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
}
.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}
.header .nav ul li a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  padding: 10px 0;
  transition: all 0.5s ease;
}

.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: none;
  margin-right: 15px;
}
.nav-toggler:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.nav-toggler span {
  height: 2px;
  width: 20px;
  background-color: var(--color-1);
  display: block;
  margin: auto;
  position: relative;
  transition: all 0.3s ease;
}
.nav-toggler.active span {
  background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  transition: all 0.3s ease;
}
.nav-toggler span::before {
  transform: translateY(-6px);
}
.nav-toggler.active span::before {
  transform: rotate(45deg);
}
.nav-toggler span::after {
  transform: translateY(6px);
}
.nav-toggler.active span::after {
  transform: rotate(135deg);
}

@media (max-width: 1024px) {
  .nav-toggler {
    display: block;
  }
  .header .nav {
    width: 100%;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .header .nav.open {
    visibility: visible;
  }
  .header .nav ul {
    padding: 12px 15px 0;
    margin-top: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header .nav ul li {
    display: block;
    margin: 0;
  }
}

.header {
  /* position: sticky; */
  top: 0;
  width: 100%;
}

.nav a {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

div a {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}


.nav ul li a.active {
  color: #f3a93d;
}

.btn btn-color-1 {
  color: #f3a93d;
}

.header .nav ul li a {
  text-transform: uppercase;
}

.logo2 {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}
.section__text__p1 {
  opacity: 0.8;
}
.section__text__p2 {
  opacity: 0.8;
}

.home-div {
  background-color: burlywood;
  width: 100%;
}

/* MEDIA QUERY */
/* @media (max-width: ) {
} */

@media (max-width: 596px) {
  .home-div {
    height: 80px;
  }
}

@media (max-width: 600px) {
  .home-div {
    height: 530px;
  }
  .home-div {
    height: 570px;
  }
}

@media (max-width: 600px) {
  .horizontal_line {
    display: none;
  }
}

@media (max-width: 530px) {
  .home-div {
    height: 520px;
  }
}

@media (max-width: 420px) {
  .home-div {
    height: 475px;
  }
}

@media (max-width: 448px) {
  .logo2 {
    font-size: 20px !important;
  }
}
@media (max-width: 334px) {
  .logo2 {
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 16px !important;
  }
}

@media (max-width: 288px) {
  .logo2 {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 1200px) {
  .section__pic-container img {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  #profile {
    display: block;
  }

  section {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__pic-container img {
    /* width: auto; */
    width: 50%;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
}

.about_me_heading {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#About {
  padding: 20px;
}

.text-center {
  text-align: center;
}

h2 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  flex: 1;
  padding: 0 10px;
}

.pb-5 {
  padding-bottom: 20px;
}

.rounded-5 {
  border-radius: 5px;
}

.About-me {
  width: 300px;
  display: block;
}

p {
  margin: 0 0 20px;
}

/* Media query for screens narrower than 975.33px */
@media only screen and (max-width: 975.33px) {
  .row {
    flex-direction: column;
  }

  .col {
    flex: auto;
    padding: 0;
  }

  .About-me {
    width: 500px;
    margin-bottom: 20px;
  }
  .pb-5 {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 572px) {
  .pb-5 {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media (max-width: 574px) {
  #about-text {
    width: 480px;
  }
}

@media (max-width: 572px) {
  #about-text {
    width: 480px;
  }
}

@media (max-width: 572px) {
  .About-me {
    width: 400px;
  }
}

@media (min-width: 550px) {
  .About-me {
    width: 300px;
  }

  #about-text {
    width: 400px;
  }
}

@media (max-width: 550px) {
  .About-me {
    width: 300px;
  }

  #about-text {
    width: 400px;
  }
}

@media (max-width: 466px) {
  .home-div {
    width: 455px;
  }
  .div-header {
    width: 455px;
  }
  .logo {
    width: 10px;
  }
}

@media (max-width: 975.33px) {
  .para1,
  .para2,
  .para3 {
    width: 820px;
  }
}

@media (max-width: 911.33px) {
  .para1,
  .para2,
  .para3 {
    width: 750px;
  }
}

@media (max-width: 836px) {
  .para1,
  .para2,
  .para3 {
    width: 700px;
  }
}

@media (max-width: 786px) {
  .para1,
  .para2,
  .para3 {
    width: 650px;
  }
}

@media (max-width: 734px) {
  .para1,
  .para2,
  .para3 {
    width: 600px;
  }
}

@media (max-width: 681.33px) {
  .para1,
  .para2,
  .para3 {
    width: 560px;
  }
}

@media (max-width: 638px) {
  .para1,
  .para2,
  .para3 {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .para1,
  .para2,
  .para3 {
    width: 460px;
  }
}

@media (max-width: 533.33px) {
  .para1,
  .para2,
  .para3 {
    width: 410px;
  }
}

@media (max-width: 481.33px) {
  .para1,
  .para2,
  .para3 {
    width: 360px;
  }
}

@media (max-width: 430.33px) {
  .para1,
  .para2,
  .para3 {
    width: 330px;
  }
  .About-me {
    width: 200px;
  }
}

@media only screen and (max-width: 488px) {
  .logo2 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 470px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 468px) {
  body {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.para1,
.para2,
.para3 {
  text-align: center;
}

@media (max-width: 380px) {
  .pb-5 {
    margin-right: 80px;
  }
}

/* SERVICES */

.services {
  padding: 30px 0;
}

.learn-more1,
.learn-more3 {
  font-size: 15px;
  font-weight: bolder;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-para1,
.services-para2 {
  font-size: 17px;
}

.services-list div {
  background: wheat;
  color: #080808;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: darkkhaki;
  color: #080808;
}

.skill-skill div:hover {
  background-color: white !important;
}

.boxx{
  background-color: black !important;
}

.box {
  transition: all 0.8s !;
  background-size: 100% 200%;
}

.box:hover {
  background-position: left bottom;
  color: white;
  box-shadow: 0 0 20px rgb(131, 45, 45);
}

.sub-title {
  text-align: center;
  color: white;
}

.services-container {
  background-color: #2f3240;
  width: 100%;
}

@media (max-width: 1029.33px) {
  .home-div {
    height: 670px;
  }
  hr {
    display: none;
  }
}

@media (max-width: 420px) {
  .pb-5 {
    margin-left: 60px;
    margin-top: 15px;
  }

  .home-div {
    height: 100%;
  }

  .services-container {
    width: 500px;
  }
  .home-div {
    width: 500px;
  }
  .header {
    width: 500px;
  }
  .para1,
  .para2,
  .para3 {
    width: 100%;
  }
  .about-me-heading {
    text-align: center;
    margin-left: 100px;
  }

  .col.py-3 {
    text-align: center;
  }
}

.header {
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section__pic-container {
  margin-top: 60px;
}

@media (max-width: 912px) {
  .home-div {
    height: 710px;
  }
}

@media (max-width: 344px) {
  .home-div {
    height: 620px;
  }
}

.para1,
.para2,
.para3 {
  text-align: left;
}

@media (max-width: 370px) {
  .home-img {
    height: 700px;
    width: 300px;
  }
  .home-div {
    height: 590px;
  }
}

@media (max-width: 375px) {
  /* .home-img{
    height: 700px;
    width: 300px;
  } */
  .home-div {
    height: 590px !important;
  }
}


.contacts a,
.quick-links a {
  display: block;
  margin: 5px 0;
  color: #fff;
  text-decoration: none;
}

.contacts img.iconn,
.social-icons img {
  width: 20px;
  margin-right: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 5px;
}

.quick-links a {
  font-size: 0.9em;
}

@media (max-width: 768px) {
  .footer-para,
  .contacts a span,
  .quick-links a {
    font-size: 0.8em;
  }

  .footer-heading {
    font-size: 1em;
  }
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
  text-align: center;
}

@media (max-width: 375px) {
  .footer-container {
    width: 500px;
  }
  .footer-center {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

@media (max-width: 466px) {
  .section__pic-container {
    margin-top: 70px;
  }
}

@media (max-width: 466px) {
  .services-container {
    width: 455px;
  }
}

@media (max-width: 412px) {
  .services-container {
    width: 500px;
  }
}

@media (max-width: 820px) {
  .text-center {
    margin-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  .home-div {
    height: 800px;
  }
  .text-center {
    margin-bottom: 70px;
  }
  .about-text {
    text-align: center;
  }
}

@media (max-width: 540px) {
  .home-div {
    height: 700px;
  }
}

.about-text,
.about-text {
  transition: margin-top 0.3s ease;
}

@media (min-width: 1280px) {
  .about-text {
    margin-top: 20px;
  }

  .about-text {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .home-div {
    height: 600px;
  }
  hr {
    display: none;
  }
  .about-whole {
    height: 600px;
  }
}

@media (max-width: 412px) {
  .home-div {
    height: 620px;
  }
  .pb-5 {
    margin-right: 50px;
  }
}

@media (max-width: 430px) {
  .home-div {
    height: 600px;
  }
  .pb-5{
    margin-right: 40px;
  }
}

.about{
  margin-top: -30px !important;
}

.about-text, .sub-title, .fa-solid, .skills-heading{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-style: italic;
}

.about-text, .sub-title, .fa-solid,.skills-heading{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 25px;
}

.about-me-heading{
  margin-bottom: 40px;
}

@media(max-width:414px){
  .services-container{
    width: 500px;
  }
}

/* skills section  */

.boxx{
  height:400px;
  width: 1000px;
  /* background-color: white; */
  /* width:1000px ; */
  margin-left: -59px;
}


 @media only screen and (max-width: 600px) {
    .boxx {
      margin-left: 2%; /* Reduce margin for smaller screens */
    }
  }

    .boxx {
    margin-left: 5%; /* Set a percentage margin */
    max-width: 100%;
    margin-left: -10px;
  }

  @media(max-width:414px){
    .skills-div{
      width: 500px;
    }
  }


  .boxx:hover {
  background-position: left bottom;
  /* color: white; */
  /* box-shadow: 0 0 20px rgb(131, 45, 45); */
}

/* .sub-title{
  margin-bottom: 10px;
} */



.services-container{
  height: 1000px;
}


@media(max-width:1027.33px){
  .about-me-heading{
    text-align: center;
  }
}
@media(max-width:1029.33px){
  .about-me-heading{
    text-align: center;
  }
}





@media(max-width:866px){
  .services-container {
      height: 1100px;
  }
}

@media(max-width:682px){
  .services-container {
    height:1150px;
  }
}

@media(max-width:660px){
  .services-container {
    height:1200px;
  }
}

@media(max-width:560px){
  .services-container {
    height: 1250px;
  }
}

@media(max-width:495.33px){
  .services-container {
    height: 1300px;
  }
}

@media(max-width:490px){
  .services-container {
    height: 1360px;
  }
}


.box-div-1> img {
width:150px;
height:150px;
}


.skill-skill {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between; /* Distribute items evenly */
  background-color: ;
}

.boxx {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  /* background: black !important; */
}

.boxx > span {
  flex: 1 1 calc(33.333% - 20px); /* Each item takes up 1/3 of the row minus the gap */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  text-align: center;
}

.boxx i {
  width: 100%;
  text-align: center;
}

.box-div-1, .box-div-2, .box-div-3, .box-div-4, .box-div-5, .box-div-6, .box-div-7, .box-div-8, .box-div-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-div-1 img, .box-div-2 img, .box-div-3 img, .box-div-4 img, .box-div-5 img, .box-div-6 img, .box-div-7 img, .box-div-8 img, .box-div-9 img {
  /* max-width: 100%; */
  height: 100px;
  width: 100px;
}

.para-para{
  margin: 0;
  padding: 10px 0;
}

        
.boxx > span {
  flex: 1 1 calc(33.333% - 20px); /* Each item takes up 1/3 of the row minus the gap */
  box-sizing: border-box; 
  text-align: center;
  transition: transform 0.3s ease; /* Add transition for smooth zoom-out effect */
}

.boxx > span:hover {
  transform: scale(1.1); /* Zoom out effect */
  transition: 0.5s;
  width: 10px;
  /* background-color: #000435; */
  /* color: #000435; */
}


.para-para{
  color:black;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* span:hover{
  color: black;
}
 */

 @media(max-width:860px) {
.services-container {
  height: 2300px !important;

}

 }


.services-container {
  height: 1150px !important;
}

.boxx{
  background-color: cadetblue !important;
  height: 500px !important;
}

/* projects */
.projects-container{
  background-color: white;
}
 
.project-title{
  color: black;
  text-align: center;
}

.box:hover {
  /* background-color: white; */
  

}

@media(max-width:414px){
  .boxxxx{
   margin-right: -90px;
   height: 300px;
  }

}

.folder-link,.folder-img{
  width: 40px;
  margin-top: -1000px;
  margin-left: -10px;
}

.boxxxx:hover{
  background-color: darkkhaki;
}

.boxxxx {
  height: 210px;
 
}

.image {
  z-index: ;
  /* position: relative; */
}

.nav{
  /* position: relative; */
z-index: ;
}